name: Deploy
on:
  push:
    branches:
      - dev
permissions:
  id-token: write
  contents: read
jobs:
  build:
    uses: rollthecloudinc/druid/.github/workflows/azure-workflow.yml@master
    with:
      ENVIRONMENT: dev
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}