/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/libre-baskerville-v13-latin/libre-baskerville-v13-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
}
